:root {
    --blue: #517A8D;
    --black: #212121;
    --pink: #FFCDD2;
    --gray: #D6D6D6;
    --azure: #C0D0E5;
    --red: #B94A48;
}


body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

nav, header, section, footer {
    display: block;
}



.layout1 header {
    height: 388px;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.layout1 header > img {
    margin-top: 25px;
    margin-left: 25px;
}

.layout1 nav {
    width: 100%;
}

.layout1 nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    overflow: hidden;
}

.layout1 nav > ul > li {
    background-color: black;
    height: 57px;
    width: 25%;
}

.layout1 ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    color: black;
    background-color: var(--pink);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.layout1 nav > ul > li > a:hover,
.layout1 nav > ul > li > a.active {
    color: white;
    background-color: var(--red);
}

.layout1 main {
    background-color: var(--black);
    height: 443px;
    padding: 24px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}

.layout1 .rect {
    background-color: var(--blue);
}

.layout1 .rect_1 {
    height: 33px;
    width: 93px;
    margin-left: 2.8%;
}

.layout1 .rect_2 {
    margin-top: 7px;
    height: 389px;
    width: 335px;
    margin-left: 15.1%;
}

.layout1 .rect_3 {
    margin-top: 7px;
    height: 338px;
    width: 338px;
    margin-left: 2.5%;
}

.layout1 footer {
    height: 121px;
    background-color: var(--gray);
}



.layout2 header {
    height: 192px;
    background-color: var(--black);
}

.layout2 header img {
    margin-top: 25px;
    margin-left: 25px;
}

.layout2 nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    overflow: hidden;
}

.layout2 header + .container {
    display: flex;
    height: 1687px;
}

.layout2 .container nav {
    flex: 1;
    background-color: var(--pink);
}

.layout2 nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.layout2 nav > ul > li {
    background-color: black;
    height: 134px;
}

.layout2 ul > li > a {
    display: flex;
    align-items: center;
    padding-left: 8px;
    height: 100%;
    color: black;
    background-color: var(--pink);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.layout2 nav > ul > li > a:hover,
.layout2 nav > ul > li > a.active {
    color: white;
    background-color: var(--red);
}

.layout2 .container main {
    flex: 3;
    background-color: var(--black);
}

.layout2 .container main .first {
    display: flex;
    justify-content: flex-start;
    background-color: var(--black);
}
.layout2 .container main .first > *,
.layout2 .container main .second > * {
    margin-left: 30px;
}

.layout2 .container main .second {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 1000px;
}

.layout2 .container main .second > .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 75%;
    max-width: 338px;
}

.layout2 .square {
    display: inline-block;
    width: 100%;
    max-width: 338px;
    background-color: var(--blue);
}

.layout2 .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.layout2 .container section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--pink);
}

.layout2 section > .rect_6 {
    height: 338px;
    width: 40%;
    max-width: 128px;
    background-color: var(--azure);
    margin-top: 30px;
    margin-right: 30px;
}

.layout2 section > .container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.layout2 section > .container > .rect_7 {
    height: 125px;
    width: 50%;
    max-width: 128px;
    background-color: var(--azure);
}

.layout2 footer {
    height: 121px;
    background-color: var(--gray);
}

.layout3 header {
    display: flex;
}

.layout3 header .head {
    width: 500px;
    min-width: 500px;
    background-color: var(--black);
    position: relative;
}

.layout3 header .head {
    content: "";
    display: block;
    padding-bottom: 500px;
}

.layout3 .head > .logo {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.layout3 .head > .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layout3 .head > nav {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.layout3 nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.layout3 nav > ul > li {
    background-color: black;
    height: 62px;
    flex: 1;
}

.layout3 nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    color: black;
    background-color: var(--pink);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.layout3 nav > ul > li > a:hover,
.layout3 nav > ul > li > a.active {
    color: white;
    background-color: var(--red);
}

.layout3 header .container {
    display: flex;
    justify-content: center;
    min-width: 500px;
    height: 500px;
    flex: 1;
    background-color: var(--blue);
}
.layout3 header .container .col {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.layout3 header .container .box {
    flex: 1;
    max-height: 250px;
    background-color: white;
}

.layout3 header .container .box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.layout3 header .container .col .box:nth-child(2) {
    opacity: 0.9;
}
.layout3 header .container .col:nth-child(2) .box:nth-child(1) {
    opacity: 0.8;
}
.layout3 header .container .col:nth-child(2) .box:nth-child(2) {
    opacity: 0.7;
}

@media screen and (max-width: 1000px) {
    .layout3 header {
        flex-direction: column;
    }
    .layout3 header .head {
        width: 100%;
    }
    .layout3 header .container {
        height: 100vw;
    }
    .layout3 header .container .col {
        flex: 1;
    }
    .layout3 header .container .box {
        max-height: none;
    }
}